@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: local("Cuprum Regular"), local("Cuprum-Regular"), url("../fonts/cuprum.woff2") format("woff2"), url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src: local("Cuprum Regular"), local("Cuprum-Regular"), url("../fonts/cuprumbold.woff2") format("woff2"), url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src: local("Cuprum Regular"), local("Cuprum-Regular"), url("../fonts/cuprumitalic.woff2") format("woff2"), url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 700;
  src: local("Cuprum Regular"), local("Cuprum-Regular"), url("../fonts/cuprumbolditalic.woff2") format("woff2"), url("../fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PTSans-Regular"), local("PTSans-Regular"), url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PTSans-Regular"), local("PTSans-Regular"), url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}

/*** global styles ***/

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
}

a {
  text-decoration: none;
}

/*** general styles ***/

.header__user-ident-list,
.header__navigation-list,
.features__slider-list,
.features__list,
.popular-products__list,
.popular-manufacturer__list,
.services__list,
.company__directions-list,
.footer__navigation-list,
.services__menu {
  list-style: none;
}

/*** index.html ***/

.header {
  color: #ffffff;
  background-color: #f3f7f9;
}

.header__wrapper-top {
  background-color: #33445a;
}

.header__logo-link {
  display: block;
  padding: 10px 50px;

  font-size: 24px;
  line-height: 24px;
  color: inherit;

  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.header__logo-link:hover,
.header__logo-link:focus {
  background-color: #ca2c37;
}

.header__logo-link:active {
  background-color: #ba2732;
}

.header__search-form-input {
  background-color: #33445a;
}

.header__search-input {
  padding: 0;

  font-family: inherit;
  font-size: 17px;
  line-height: normal;
  color: #ffffff;

  background-color: #33445a;

  border: none;
}

.header__search-input:active,
.header__search-input:focus {
  color: #000000;

  background-color: #ffffff;
}

.header__bookmark-link,
.header__basket-link {
  display: block;
  padding: 10px 20px;

  font-size: 17px;
  line-height: normal;
  color: inherit;
}

.header__bookmark-link:hover,
.header__bookmark-link:focus,
.header__basket-link:hover,
.header__basket-link:focus {
  background-color: #212a3a;
}

.header__bookmark-link:active,
.header__basket-link:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.header__order-link {
  display: block;
  padding: 10px 20px;

  font-size: 17px;
  line-height: normal;
  color: inherit;

  background-color: #6db254;
}

.header__order-link:hover,
.header__order-link:focus {
  background-color: #5fbb2d;
}

.header__order-link:active {
  color: rgba(255, 255, 255, 0.51);
  background-color: #518534;
}

.header__description-site {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ff5357;
}

.header__contacts-telephone {
  width: 150px;
  padding: 10px 50px;

  font-size: 21px;
  line-height: 18px;
  color: #fb463c;

  border: 3px solid #ffffff;
}

.header__contacts-address {
  font-size: 14px;
  line-height: 24px;
  color: #3d546e;
}

.header__user-ident-item {
  display: inline-block;
  padding-right: 5px;
}

.header__user-ident-link {
  display: block;
  padding: 10px 25px;

  font-size: 21px;
  line-height: 18px;

  background-color: #ffffff;
}

.header__user-ident-link:hover,
.header__user-ident-link:focus {
  color: #ee3643;
}

.header__user-ident-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.header__wrapper-bottom {
  background-color: #3d546e;

  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.header__navigation-item {
  display: inline-block;
}

.header__navigation-link {
  display: block;
  padding: 15px 20px;

  font-size: 17px;
  line-height: 17px;
  color: inherit;
}

.header__navigation-link:hover,
.header__navigation-link:focus {
  background-color: #1d2739;
}

.header__navigation-link:active {
  color: rgba(255, 255, 255, 0.5);
}

/* Временное задание фона для отображения внутреннего текста */
.features__slider-item {
  background-color: darkgrey;
}

.features {
  color: #ffffff;
}

.features__slider-caption {
  font-size: 36px;
  line-height: 30px;
  text-transform: uppercase;
}

.features__slider-description {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;

  box-shadow: 2px 0 0 rgba(255, 255, 255, 0.4);
}

.features__slider-button {
  width: 195px;
  height: 38px;

  background-color: #ff5357;
}

.features__slider-button:hover,
.features__slider-button:focus {
  background-color: #ca2c37;
}

.features__slider-button:active {
  background-color: #ba2732;
}

.features__slider-link {
  display: block;
  padding: 10px 40px;

  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
  color: inherit;

  background-color: #ff5357;
}

.features__slider-link:hover,
.features__slider-link:focus {
  background-color: #ca2c37;
}

.features__slider-link:active {
  background-color: #ba2732;
}

.features__item--materials {
  background-color: #ffbf47;
}
.features__item--instrument {
  background-color: #3bbce3;
}
.features__item--technique {
  background-color: #dc91d8;
}
.features__item--discounts {
  background-color: #8ed78f;
}
.features__item--delivery {
  background-color: #ffc047;
}



.features__caption {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: inherit;
}

.features__link {
  padding: 10px 25px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: inherit;

  background-color: rgba(255, 255, 255, 0.9);
}

.features__link:hover,
.features__link:focus {
  background-color: rgba(255, 255, 255, 0.8);
}

.features__link:active {
  background-color: rgba(255, 255, 255, 0.7);
}

.popular-products__inner,
.popular-manufacturer__inner {
  background: #f9f5f0;
}

.popular-products__title,
.popular-manufacturer__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #3d546e;
}

.popular-products__link,
.popular-manufacturer__link {
  display: block;
  padding: 10px 50px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  background: #ff5357;
}

.popular-products__item,
.popular-manufacturer__item {
  border: 1px inset #eaeaea;
}

.product,
.product__title {
  font-size: 18px;
  line-height: 20px;
  color: inherit;
}

.product__old-price,
.product__link {
  font-size: 17px;
  line-height: 18px;
}

.product__old-price {
  color: #a9a9a9;
}

.product__link {
  display: block;
  padding: 10px 35px;

  color: #ffffff;

  background: #ff0000;
}

.services {
  background-color: #f4f8f9;
}

.services__title,
.company__title,
.contacts__title {
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
}

.services__description,
.services__list-description,
.company__description,
.contacts__description {
  font-family: "PT Sans", "Arial", sans-serif;
}

.services__list-title {
  font-size: 36px;
  line-height: 24px;
  text-transform: uppercase;
  color: #3d546e;
}

.services__menu-button {
  padding: 15px 60px;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;

  background-color: #3d546e;
  border: none;
  box-shadow: inset 0px -1px 0px #405069;
}

.services__menu-button:hover,
.services__menu-button:focus {
  color: #ffffff;

  background-color: #32425c;
  box-shadow: inset 0px -1px 0px #405069;
}

.services__menu-button--selected {
  color: #3d546e;

  background-color: #ffffff;
  box-shadow: inset 0px -1px 0px #ffffff;
}

.company__link,
.contacts__link {
  display: block;
  padding: 10px 35px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ff5357;
}

/*** catalog.html ***/

.catalog__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.catalog__filter-title,
.catalog__sort-title {
  font-size: 13px;
  line-height: 18px;
}

.catalog__couple-words-title {
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
}

